.banner-container {
    position: relative;
    width: 100%;
    height: 44vh;
    max-height: 300px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
    width: 47px;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 12px rgba(0,0,0,.2);
    background: #fcfcfc;
    color: #000;
    z-index: 2;  /* Ensure arrows are on top */
    cursor: pointer;
    transition: all 0.3s ease;
}

.slick-prev {
    left: 0;
    border-radius: 0 5px 5px 0;
}

.slick-next {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.slick-arrow:hover {
    background: #ddd;
}

.slick-prev::before,
.slick-next::before {
    display: none;
}
